<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sample.sdk.dabkick.sampleappdkvp">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".PartnerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- required metadata for DabKick -->
        <meta-data
            android:name="com.dabkick.developer_id"
            android:value="@string/developer_id" />
        <meta-data
            android:name="com.dabkick.developer_key"
            android:value="@string/developer_key" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".CategoryViewForVideos.VideosOfCategory" />
        <activity
            android:name=".PlayVideos.PlayerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="DK29515a9bdf6e11e7a1d8062" />
            </intent-filter>

        </activity>
    </application>

</manifest>